
<div id="collections-listing">
 

    {% if collections.size > 0 %}

    <h1 style="margin-bottom:30px;">Collections</h1>
   
    <ul>
      {% for collection in collections %}
        <li class="{{ collection.handle }}-collection col-md-4 col-sm-4 col-xs-12"  >
          <a class="text-center" href="{{ collection.url }}" >
          <h3  class="text-center">{{ collection.title | escape }}</h3>
          
    
        <img class="img-responsive" src="{{ collection.image | img_url: '300x300', scale: 0 }}" >
    <small class="hint">{{ collection.products_count  }} products</small>   
      
        
       </a> </li> 
      {% endfor %}
    </ul>

  
    {% else %}
      <p>No Collections found...</p>
    {% endif %}
  
</div>
<div class="clearfix"></div>
<style>
li a{

  display:block;
  border: 1px solid #efefef;
  width:100%;
 
 }
  li{
   margin-bottom:20px; 
  }
  ul{
   width:100%; 
  }
  li img{
    margin:auto;height:210px!Important;
  }
  ul li a, li small.hint{
   text-align:center!important; 
  }
  small.hint{
       display: block!important; 
  }
</style>


<!--<div class="collections_listing collections_listing__catalog">
	<span class="homepage_counter homepage_counter__hidden">{% increment homepageBlocks %}</span>
	<span class="homepage_counter homepage_counter__collections">{% increment homepageBlocks %}</span>

	<div class="title_wrap">
		<h2>{% assign X = 'catalog.collections_listing.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}Collections{% endif %}</h2>
	</div>

    {% for collection in collections %}
        {% unless collection.handle == 'all' or collection.handle == 'frontpage' %}

			{% capture col_iteration %}{% cycle 'col_iteration_cycle' : 'item_1', 'item_2', 'item_3' %}{% endcapture %}

			{% case col_iteration %}
				{% when 'item_1' %}
					<div class="item_1">
						<div class="row">
							<div class="col-sm-3 col-sm-offset-2">
								<h3 class="homepage_heading">{{ collection.title }}</h3>

								<p>{{ collection.description }}</p>

								<a href="{{ collection.url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_1_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item1_btn }}{% endif %}</a>
							</div>

							<div class="col-sm-5">
								<div class="item_img">
									{% if collection.image %}
										<img src="{{ collection.image.src | collection_img_url: 'original' }}" alt="" />
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% when 'item_2' %}
					<div class="item_2">
						<div class="row">
							<div class="col-sm-4 col-sm-offset-1">
								<div class="item_img">
									{% if collection.image %}
										<img class="item_img__image" src="{{ collection.image.src | collection_img_url: 'original' }}" alt="" />
									{% endif %}

									<div class="homepage_pattern item_pattern">
										<div class="block block_1"></div>
										<div class="block block_2"></div>
										<div class="block block_3"></div>
										<div class="block block_4"></div>
										<div class="block block_5"></div>
										<div class="block block_6"></div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<h3 class="homepage_heading">{{ collection.title }}</h3>

								<p>{{ collection.description }}</p>

								<a href="{{ collection.url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_2_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item2_btn }}{% endif %}</a>
							</div>
						</div>
					</div>
				{% when 'item_3' %}
					<div class="item_3">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-2">
								<h3 class="homepage_heading">{{ collection.title }}</h3>

								<p>{{ collection.description }}</p>

								<a href="{{ collection.url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_3_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item3_btn }}{% endif %}</a>
							</div>

							<div class="col-sm-5">
								<div class="item_img">
									{% if collection.image %}
										<img class="item_img__image" src="{{ collection.image.src | collection_img_url: 'original' }}" alt="" />
									{% endif %}

									<div class="homepage_pattern item_pattern">
										<div class="block block_1"></div>
										<div class="block block_2"></div>
										<div class="block block_3"></div>
										<div class="block block_4"></div>
										<div class="block block_5"></div>
										<div class="block block_6"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
			{% endcase %}
        {% endunless %}
    {% endfor %}
</div>-->
