{% assign homepageBlocks = 0 %}
<span class="homepage_counter homepage_counter__hidden">{% increment homepageBlocks %}</span>

<div class="container">
	{% if settings.slider_toggle %}
		<div class="swiper_wrap">
			<span class="homepage_counter homepage_counter__slider">{% increment homepageBlocks %}</span>

			<h2>{% assign X = 'slider.slider_title.text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.slider_title }}{% endif %}</h2>

			<div id="swiper" class="swiper-container">
				<div class="swiper-wrapper">
					{% for i in (1..3) %}
						{% capture slide_toggle %}slide{{ i }}_toggle{% endcapture %}
						{% capture slide_image %}slide{{ i }}_image.jpg{% endcapture %}
						{% capture slide_link %}slide{{ i }}_link{% endcapture %}

						{% if settings.slider_captions %}
							{% capture caption1 %}slide{{ i }}_caption1{% endcapture %}
							{% capture caption1_lang %}slider.slide_{{ i }}.caption_1{% endcapture %}
							{% capture caption2 %}slide{{ i }}_caption2{% endcapture %}
							{% capture caption2_lang %}slider.slide_{{ i }}.caption_2{% endcapture %}
							{% capture caption3 %}slide{{ i }}_caption3{% endcapture %}
							{% capture caption3_lang %}slider.slide_{{ i }}.caption_3{% endcapture %}
							{% capture caption4 %}slide{{ i }}_caption4{% endcapture %}
							{% capture caption4_lang %}slider.slide_{{ i }}.caption_4{% endcapture %}
						{% endif %}

						{% if settings[slide_toggle] %}
							<div class="swiper-slide">
								<div class="swiper_stripe"></div>

								<img src="{{ slide_image | asset_url }}" alt="" />

								{% if settings.slider_captions %}
									<div class="slider_caption">
										{% assign A = caption1_lang | t %}{% if A.size > 0 %}<h3 class="homepage_heading">{{ A }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption1] }}</h3>{% endif %}
										{% assign B = caption2_lang | t %}{% if B.size > 0 %}<h3 class="homepage_heading">{{ B }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption2] }}</h3>{% endif %}
										{% assign C = caption3_lang | t %}{% if C.size > 0 %}<h3 class="homepage_heading">{{ C }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption3] }}</h3>{% endif %}

										{% if settings[slide_link].size != 0 %}
										<a class="btn btn-outline homepage_btn" href="{{ settings[slide_link] }}">{% assign D = caption4_lang | t %}{% if D.size > 0 %}{{ D }}{% else %}{{ settings[caption4] }}{% endif %}</a>
										{% endif %}
									</div>
								{% endif %}

								<div class="clearfix"></div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				{% if settings.slider_controls %}
					<div class="swiper_pagination__wrap">
						<div id="swiper_pagination"></div>
					</div>
					<div id="swiper_btn_prev" class="swiper_btn"><i class="arrows-thin35"></i></div>
					<div id="swiper_btn_next" class="swiper_btn"><i class="arrows-right106"></i></div>
				{% endif %}
			</div>
		</div>

		<script>
		jQuery(document).ready(function($) {
			var mySwiper = new Swiper('#swiper', {
				effect: 'fade',
				{% if settings.slider_autoplay %}
					autoplay: {% if settings.slider_autoplay_duration and settings.slider_autoplay_duration != '' %}{{ settings.slider_autoplay_duration }}{% else %}5000{% endif %},
				{% endif %}
				loop: true,
				speed: 500,
				autoplayDisableOnInteraction: true,
				{% if settings.slider_controls %}
					pagination: '#swiper_pagination',
					paginationType: 'fraction',
					prevButton: '#swiper_btn_prev',
					nextButton: '#swiper_btn_next',
				{% endif %}
			});
		});
		</script>
	{% endif %}

	{% if settings.homepage_welcome_toggle %}
		<div class="homepage_welcome {% if settings.slider_toggle %}homepage_welcome__layered{% endif %}">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-2 homepage_welcome__left">
					<div class="homepage_welcome__img_wrapper">
						{% if settings.homepage_welcome_img_toggle %}
						<img class="homepage_welcome__img" src="{{ 'homepage_welcome_img.jpg' | asset_url }}" alt="" />
						{% endif %}

						<div class="homepage_pattern homepage_welcome__pattern">
							<div class="block block_1"></div>
							<div class="block block_2"></div>
							<div class="block block_3"></div>
							<div class="block block_4"></div>
							<div class="block block_5"></div>
							<div class="block block_6"></div>
							<div class="block block_7"></div>
							<div class="block block_8"></div>
						</div>
					</div>
				</div>

				<div class="col-sm-5 homepage_welcome__right">
					<div class="homepage_welcome__content">
						<span class="homepage_counter homepage_counter__welcome">{% increment homepageBlocks %}</span>

						<div class="title_wrap">
							<h2>{% assign X = 'custom_blocks.homepage_welcome.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_title }}{% endif %}</h2>
						</div>

						<p>{% assign X = 'custom_blocks.homepage_welcome.text1' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_text1 }}{% endif %}</p>
						<p>{% assign X = 'custom_blocks.homepage_welcome.text2' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_text2 }}{% endif %}</p>

						<a href="{{ settings.homepage_welcome_link }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_welcome.btn' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_btn }}{% endif %}</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if settings.homepage_collections_toggle %}
		<div class="collections_listing collections_listing__home">
			<span class="homepage_counter homepage_counter__collections">{% increment homepageBlocks %}</span>

			<div class="title_wrap">
				<h2>{% assign X = 'catalog.collections_listing.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}Collections{% endif %}</h2>
			</div>

			<div class="item_1">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-2">
						<h3 class="homepage_heading">{{ collections[settings.homepage_collections_item1].title }}</h3>

						<p>{% assign X = 'custom_blocks.homepage_collections.item_1_description' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item1_desc }}{% endif %}</p>

						<a href="{{ collections[settings.homepage_collections_item1].url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_1_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item1_btn }}{% endif %}</a>
					</div>

					<div class="col-sm-5">
						<div class="item_img">
							{% if settings.homepage_collections_item1_img_toggle %}
								<img src="{{ 'homepage_collections_item1_img.jpg' | asset_url }}" alt="" />
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="item_2">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="item_img">
							{% if settings.homepage_collections_item2_img_toggle %}
								<img class="item_img__image" src="{{ 'homepage_collections_item2_img.jpg' | asset_url }}" alt="" />
							{% endif %}

							<div class="homepage_pattern item_pattern">
								<div class="block block_1"></div>
								<div class="block block_2"></div>
								<div class="block block_3"></div>
								<div class="block block_4"></div>
								<div class="block block_5"></div>
								<div class="block block_6"></div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<h3 class="homepage_heading">{{ collections[settings.homepage_collections_item2].title }}</h3>

						<p>{% assign X = 'custom_blocks.homepage_collections.item_2_description' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item2_desc }}{% endif %}</p>

						<a href="{{ collections[settings.homepage_collections_item2].url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_2_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item2_btn }}{% endif %}</a>
					</div>
				</div>
			</div>

			<div class="item_3">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-2">
						<h3 class="homepage_heading">{{ collections[settings.homepage_collections_item3].title }}</h3>

						<p>{% assign X = 'custom_blocks.homepage_collections.item_3_description' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item3_desc }}{% endif %}</p>

						<a href="{{ collections[settings.homepage_collections_item3].url }}" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_collections.item_3_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item3_btn }}{% endif %}</a>
					</div>

					<div class="col-sm-5">
						<div class="item_img">
							{% if settings.homepage_collections_item3_img_toggle %}
								<img class="item_img__image" src="{{ 'homepage_collections_item3_img.jpg' | asset_url }}" alt="" />
							{% endif %}

							<div class="homepage_pattern item_pattern">
								<div class="block block_1"></div>
								<div class="block block_2"></div>
								<div class="block block_3"></div>
								<div class="block block_4"></div>
								<div class="block block_5"></div>
								<div class="block block_6"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if settings.homepage_products_toggle %}
		<div class="homepage_products">
			<div class="homepage_products__title">
				<h2 class="page_heading">{% assign X = 'catalog.homepage_products.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}Featured{% endif %}</h2>

				<span class="homepage_counter homepage_counter__products">{% increment homepageBlocks %}</span>	

				<div class="clearfix"></div>
			</div>

			{% assign productsLimit = settings.homepage_products_limit %}

			<div class="homepage_products__tabs">
				{% for i in (1..3) %}
					{% capture item %}homepage_products_collection{{ i }}{% endcapture %}
					{% capture item %}{{ settings[item] }}{% endcapture %}

					{% if collections[item].id.size != 0 %}
						<a href="#" class="tabs_item" data-index="{{ i }}" id="tabs_item__{{ i }}">{{ collections[item].title }} <span>{{ collections[item].products_count }}</span></a>
					{% endif %}
				{% endfor %}

				<script>
				jQuery(function($){
					$(document).ready(function() {
						$('#tabs_item__1').addClass('active');
						$('#carousel_1').addClass('active');

						$(document).on('click', '.tabs_item', function(e) {
							var iter = $(this).attr('data-index');
							var activeTab = $('#tabs_item__' + iter);
							var activeCarousel = $('#carousel_' + iter);

							$('.tabs_item, .carousel_wrap').each(function() {
								$(this).removeClass('active');
							});

							activeTab.addClass('active');
							activeCarousel.addClass('active');

							e.preventDefault();
						});
					});
				});
				</script>
			</div>

			<div class="homepage_carousel">
				{% for i in (1..3) %}
					{% capture item %}homepage_products_collection{{ i }}{% endcapture %}
					{% capture item %}{{ settings[item] }}{% endcapture %}

					{% if collections[item].id.size != 0 %}
						<div id="carousel_{{ i }}" class="carousel_wrap">
							<div id="homepage_carousel__{{ i }}" class="swiper-container product_listing_main carousel_{{ i }}">
								<div class="swiper-wrapper">
									{% for product in collections[item].products limit:productsLimit %}
										{% include 'product-listing-item' %} 
									{% endfor %}
								</div>
							</div>

							{% if collections[item].products_count > 4 %}
								<div id="carousel_{{ i }}_prev" class="swiper_btn btn_prev"><i class="arrows-thin35"></i></div>
								<div id="carousel_{{ i }}_next" class="swiper_btn btn_next"><i class="arrows-right106"></i></div>

								<script>
								jQuery(document).ready(function($) {
									var homepage_carousel__{{ i }} = new Swiper('#homepage_carousel__{{ i }}', {
										loop: true,
										speed: 500,
										slidesPerView: 6,
										spaceBetween: 30,
										prevButton: '#carousel_{{ i }}_prev',
										nextButton: '#carousel_{{ i }}_next',
										updateTranslate: true,
										breakpoints: {
											991: {
												slidesPerView: 4
											},
											767: {
												slidesPerView: 3,
												spaceBetween: 15
											},
											480: {
												slidesPerView: 1,
												spaceBetween: 0
											}
										}
									});
								});
								</script>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="homepage_products__btn">
				<a href="/collections/all" class="btn btn-outline homepage_btn">{% assign X = 'catalog.collections_listing.view_products_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}View products{% endif %}</a>
			</div>
		</div>
	{% endif %}

	{% if settings.homepage_blog_toggle %}
		<div class="homepage_blog">
			<div class="homepage_blog__bg"></div>

			<span class="homepage_counter homepage_counter__blog">{% increment homepageBlocks %}</span>

			<div class="title_wrap">
				<h2>{{ blogs[settings.homepage_blog_select].title }}</h2>
			</div>

			<div class="homepage_pattern homepage_blog__pattern">
				<div class="block block_1"></div>
				<div class="block block_2"></div>
				<div class="block block_3"></div>
				<div class="block block_4"></div>
			</div>

			<div class="row">
				{% for article in blogs[settings.homepage_blog_select].articles limit:2 %}
				<div class="col-sm-5 col-sm-offset-1">
					{% if article.image %}<div class="article_img">{{ article.image.src | img_url: 'original' | img_tag: article.title }}</div>{% endif %}

					<span class="blog_date">{{ article.author }}, {{ article.published_at | date: '%B %d, %Y' }}</span>

					<h3 class="blog_title homepage_heading"><a href="{{ article.url }}">{{ article.title | truncate:25 }}</a></h3>

					<a class="btn btn-outline homepage_btn" href="{{ article.url }}">{% assign X = 'blog.general.read_more' | t %}{% if X.size > 0 %}{{ X }}{% else %}Read more{% endif %}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if settings.homepage_info_toggle %}
		<div class="homepage_info">
			<div class="homepage_pattern homepage_info__pattern">
				<div class="block block_1"></div>
				<div class="block block_2"></div>
				<div class="block block_3"></div>
				<div class="block block_4"></div>
				<div class="block block_5"></div>
				<div class="block block_6"></div>
			</div>

			<div class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<div class="item_1">
						<div class="title_wrap">
							<h3>{% assign X = 'custom_blocks.homepage_info.item_1_title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item1_title }}{% endif %}</h3>
						</div>

						<p>{% assign X = 'custom_blocks.homepage_info.item_1_text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item1_text }}{% endif %}</p>
					</div>
				</div>

				<div class="col-sm-5 col-sm-offset-1">
					<div class="item_2">
						<span class="homepage_counter homepage_counter__info">{% increment homepageBlocks %}</span>

						<div class="title_wrap">
							<h3>{% assign X = 'custom_blocks.homepage_info.item_2_title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item2_title }}{% endif %}</h3>
						</div>

						<p>{% assign X = 'custom_blocks.homepage_info.item_2_text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item2_text }}{% endif %}</p>

						<ul>
							{% for i in (1..3) %}
								<li>
									{% capture icon %}homepage_info_item2_icon{{ i }}{% endcapture %}
									{% if settings[icon] != 'none' %}<i class="fa {{ settings[icon] }}"></i>{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<footer id="homepage_footer" class="homepage_footer {% if settings.homepage_info_toggle %}homepage_footer__layered{% endif %}">
		<div class="row">
			<div class="col-sm-5" id="homepage_footer__left">
				<div class="footer_left">
					<span class="homepage_counter homepage_counter__footer">{% increment homepageBlocks %}</span>

				<!--	<div class="title_wrap">
						<h2>{% assign X = 'custom_blocks.footer_contacts.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_title }}{% endif %}</h2>
					</div>

					<div class="footer_contacts">
						<p class="footer_contacts__address">{% assign X = 'custom_blocks.footer_contacts.address' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_address }}{% endif %}</p>

						<div class="footer_contacts__phone">
							<span>Tel:</span>

							<ul>
								<li>{% assign X = 'custom_blocks.footer_contacts.phone1' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_phone1 }}{% endif %}</li>
								<li>{% assign X = 'custom_blocks.footer_contacts.phone2' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_phone2 }}{% endif %}</li>
							</ul>
						</div>

						<div class="clearfix"></div>
					</div>

					<div class="footer_social">
						<ul>
							{% if settings.social_twitter != blank %}<li><a href="{{ settings.social_twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
							{% if settings.social_facebook != blank %}<li><a href="{{ settings.social_facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
							{% if settings.social_youtube != blank %}<li><a href="{{ settings.social_youtube }}"><i class="fa fa-youtube"></i></a></li>{% endif %}
							{% if settings.social_instagram != blank %}<li><a href="{{ settings.social_instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
							{% if settings.social_pinterest != blank %}<li><a href="{{ settings.social_pinterest }}"><i class="fa fa-pinterest"></i></a></li>{% endif %}
							{% if settings.social_googleplus != blank %}<li><a href="{{ settings.social_googleplus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
							{% if settings.social_tumblr != blank %}<li><a href="{{ settings.social_tumblr }}"><i class="fa fa-tumblr"></i></a></li>{% endif %}
						</ul>
					</div>
-->
					<div class="copyright">
						<a class="logo_footer" href="/">{{ shop.name }}</a>
						{% assign copyright_year = "now" | date: "%Y" %}{% assign X = 'layout.footer.copyright' | t: year: copyright_year, shop_name: shop.name %}{% if X.size > 0 %}{{ X }}{% else %}© {{ copyright_year }}. All rights reserved.{% endif %}
						{% if settings.footer_powered %} {{ powered_by_link }}{% endif %}
					</div>
				</div>
			</div>-->

			<div class="col-sm-7" id="homepage_footer__right">
				<div class="footer_right">
				<!--	<div class="map_wrapper">
						<!--  GOOGLE MAP -->
					<!--	{% include 'widget-googlemap' %}
					</div>-->
				</div>
			</div>
		</div>
	</footer>
</div>
