{% assign homepageBlocks = 0 %}
<span class="homepage_counter homepage_counter__hidden">{% increment homepageBlocks %}</span>

<div class="container">
	{% if settings.slider_toggle %}
		<div class="swiper_wrap">
			<span class="homepage_counter homepage_counter__slider">{% increment homepageBlocks %}</span>
          <h1 class="header_title_display">David & Martin Jewellery</h1>
          
			<h2>{% assign X = 'slider.slider_title.text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.slider_title }}{% endif %}</h2>

			<div id="swiper" class="swiper-container">
				<div class="swiper-wrapper">
					{% for i in (1..5) %}
						{% capture slide_toggle %}slide{{ i }}_toggle{% endcapture %}
						{% capture slide_image %}slide{{ i }}_image.jpg{% endcapture %}
						{% capture slide_link %}slide{{ i }}_link{% endcapture %}

						{% if settings.slider_captions %}
							{% capture caption1 %}slide{{ i }}_caption1{% endcapture %}
							{% capture caption1_lang %}slider.slide_{{ i }}.caption_1{% endcapture %}
							{% capture caption2 %}slide{{ i }}_caption2{% endcapture %}
							{% capture caption2_lang %}slider.slide_{{ i }}.caption_2{% endcapture %}
							{% capture caption3 %}slide{{ i }}_caption3{% endcapture %}
							{% capture caption3_lang %}slider.slide_{{ i }}.caption_3{% endcapture %}
							{% capture caption4 %}slide{{ i }}_caption4{% endcapture %}
							{% capture caption4_lang %}slider.slide_{{ i }}.caption_4{% endcapture %}
						{% endif %}

						{% if settings[slide_toggle] %}
							<div class="swiper-slide">
								<div class="swiper_stripe"></div>

								<img src="{{ slide_image | asset_url }}" alt="David & Martin Jewellery" />

								{% if settings.slider_captions %}
									<div class="slider_caption">
										{% assign A = caption1_lang | t %}{% if A.size > 0 %}<h3 class="homepage_heading">{{ A }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption1] }}</h3>{% endif %}
										{% assign B = caption2_lang | t %}{% if B.size > 0 %}<h3 class="homepage_heading">{{ B }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption2] }}</h3>{% endif %}
										{% assign C = caption3_lang | t %}{% if C.size > 0 %}<h3 class="homepage_heading">{{ C }}</h3>{% else %}<h3 class="homepage_heading">{{ settings[caption3] }}</h3>{% endif %}

										{% if settings[slide_link].size != 4 %}
										<a class="btn btn-outline homepage_btn" href="{{ settings[slide_link] }}">{% assign D = caption4_lang | t %}{% if D.size > 0 %}{{ D }}{% else %}{{ settings[caption4] }}{% endif %}</a>
										{% endif %}
									</div>
								{% endif %}

								<div class="clearfix"></div>
							</div>
						{% endif %}
					{% endfor %}
					
					
				</div>

				{% if settings.slider_controls %}
					<div class="swiper_pagination__wrap">
						<div id="swiper_pagination"></div>
					</div>
					<div id="swiper_btn_prev" class="swiper_btn"><i class="arrows-thin35"></i></div>
					<div id="swiper_btn_next" class="swiper_btn"><i class="arrows-right106"></i></div>
				{% endif %}
			</div>
		</div>

		<script>
		jQuery(document).ready(function($) {
			var mySwiper = new Swiper('#swiper', {
				effect: 'fade',
				{% if settings.slider_autoplay %}
					autoplay: {% if settings.slider_autoplay_duration and settings.slider_autoplay_duration != '' %}{{ settings.slider_autoplay_duration }}{% else %}5000{% endif %},
				{% endif %}
				loop: true,
				speed: 500,
				autoplayDisableOnInteraction: true,
				{% if settings.slider_controls %}
					pagination: '#swiper_pagination',
					paginationType: 'fraction',
					prevButton: '#swiper_btn_prev',
					nextButton: '#swiper_btn_next',
				{% endif %}
			});
		});
		</script>
	{% endif %}

	{% if settings.homepage_welcome_toggle %}
		<div class="homepage_welcome {% if settings.slider_toggle %}homepage_welcome__layered{% endif %}">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 ">
					<div class="homepage_welcome__img_wrapper">
						{% if settings.homepage_welcome_img_toggle %}
						<img class="homepage_welcome__img" src="{{ 'homepage_welcome_img.jpg' | asset_url }}" alt="David & Martin Jewellery" />
						{% endif %}

					</div>
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12 ">
					<div class="">
						<span class="homepage_counter homepage_counter__welcome">{% increment homepageBlocks %}</span>

						
							<h2 class="homepage_heading">{% assign X = 'custom_blocks.homepage_welcome.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_title }}{% endif %}</h2>
					

						<p>{% assign X = 'custom_blocks.homepage_welcome.text1' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_text1 }}{% endif %}</p>
						<p>{% assign X = 'custom_blocks.homepage_welcome.text2' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_text2 }}{% endif %}</p>


<a href="#contact_email" class="btn btn-outline homepage_btn">{% assign X = 'custom_blocks.homepage_welcome.btn' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_welcome_btn }}{% endif %}</a>
						
						
					</div>
				</div>
			</div>
		</div>
	{% endif %}
  
  
  <div class="homepage_products">
			<div class="homepage_products__title">
				<h2 class="page_heading">FEATURED</h2>

				

				<div class="clearfix"></div>
			</div>
    <div class="row thumb_margin_top">
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/circles/products/circles-cuff?variant=31458318273"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Circle_Cuff.jpg?1559779698437874719" width="300px" alt="DM Circles Cuff Golden" /></a>
        </div>
           
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/circles/products/triple-circle-necklace?variant=31468204225"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Circle_Necklace_Triple_S.jpg?1559779698437874719" width="300px" alt="DM Triple Circle Necklace" /></a>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/facet/products/dm00300500005?variant=26418061249"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Facet_Earrings_Rh.jpg?1559779698437874719" width="300px" alt="DM Facet Earrings Rhodium Plated Silver" /></a>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/numbers/products/dm00400102103?variant=26418065153"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Bone_necklace_long_goldplated.jpg?1559779698437874719" width="300px" alt="DM Numbers Necklace 10" /></a>
         </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/chicken-feet/products/dm00100100102?variant=26417888065"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Chicken_Feet_Necklace_Double.jpg?10115604504966303762" width="300px" alt="DM Chiken Feet NEcklace Double" /></a>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/facet/products/dm00300400004?variant=26418017281"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Facet_Bangle_S.jpg?1559779698437874719" width="300px" alt="DM Facet Bangle - SPB" /></a>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/cell/products/cell-cuff-thin-1?variant=31145125697"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/page_5_circles_collection_9e930268-5a93-4e8b-b64b-c8b87de281f7.jpg?10845287305234948185" width="300px" alt="" /></a>
         </div>
      
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a href="https://www.davidandmartin.com/collections/cell/products/dm00500400005?variant=26418111553"><img src="https://cdn.shopify.com/s/files/1/1481/4548/files/Cell_Bangle_Rh.jpg?1559779698437874719" width="300px" alt="DM Cell Bangle" /></a>
         </div>

        
    </div>
      <div class="collection_style_btn">

			<a href="https://www.davidandmartin.com/collections/" class="btn btn-outline homepage_btn">View Collections</a>
		</div>
		<div class="collections_listing collections_listing__home">
			<span class="homepage_counter homepage_counter__collections">{% increment homepageBlocks %}</span>

			<!--<div class="title_wrap">
				<h3>{% assign X = 'catalog.collections_listing.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}STORY{% endif %}</h3>
			</div>-->

			<div class="item_1">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
					<!--	<h3 class="homepage_heading">STORY{{ collections[settings.homepage_collections_item1].title }}</h3>-->
					<!--	<h2 class="homepage_heading">STORY<!--{{ collections[settings.homepage_collections_item1].title }}</h2>-->

						<!--<p>{% assign X = 'custom_blocks.homepage_collections.item_1_description' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item1_desc }}{% endif %}</p>



						<a href="/pages/story" class="btn btn-outline homepage_btn story_btn">{% assign X = 'custom_blocks.homepage_collections.item_1_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_collections_item1_btn }}{% endif %}</a>

					</div>-->
                  


					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="item_img">
							{% if settings.homepage_collections_item1_img_toggle %}
								<img src="{{ 'homepage_collections_item1_img.jpg' | asset_url }}" alt="David & Martin Jewellery" />
							{% endif %}
						</div>
					</div>
				</div>
			</div>

 	 </div>

  
  
  
<!--*********************************Featured Products***********************************************************-->
	{% if settings.homepage_products_toggle %}
		<div class="homepage_products">
			<div class="homepage_products__title">
				<h2 class="page_heading">FEATURED</h2>

				<span class="homepage_counter homepage_counter__products">{% increment homepageBlocks %}</span>	

				<div class="clearfix"></div>
			</div>

			{% assign productsLimit = settings.homepage_products_limit %}

			<div class="homepage_products__tabs">
				{% for i in (1..3) %}
					{% capture item %}homepage_products_collection{{ i }}{% endcapture %}
					{% capture item %}{{ settings[item] }}{% endcapture %}

					{% if collections[item].id.size != 0 %}
						<a href="#" class="tabs_item" data-index="{{ i }}" id="tabs_item__{{ i }}">{{ collections[item].title }} <span>{{ collections[item].products_count }}</span></a>
					{% endif %}
				{% endfor %}

				<script>
				jQuery(function($){
					$(document).ready(function() {
						$('#tabs_item__1').addClass('active');
						$('#carousel_1').addClass('active');

						$(document).on('click', '.tabs_item', function(e) {
							var iter = $(this).attr('data-index');
							var activeTab = $('#tabs_item__' + iter);
							var activeCarousel = $('#carousel_' + iter);

							$('.tabs_item, .carousel_wrap').each(function() {
								$(this).removeClass('active');
							});

							activeTab.addClass('active');
							activeCarousel.addClass('active');

							e.preventDefault();
						});
					});
				});
				</script>
			</div>

			<div class="homepage_carousel">
				{% for i in (1..3) %}
					{% capture item %}homepage_products_collection{{ i }}{% endcapture %}
					{% capture item %}{{ settings[item] }}{% endcapture %}

					{% if collections[item].id.size != 0 %}
						<div id="carousel_{{ i }}" class="carousel_wrap">
							<div id="homepage_carousel__{{ i }}" class="swiper-container product_listing_main carousel_{{ i }}">
								<div class="swiper-wrapper">
									{% for product in collections[item].products limit:productsLimit %}
										{% include 'product-listing-item' %} 
									{% endfor %}
								</div>
							</div>

							{% if collections[item].products_count > 4 %}
								<div id="carousel_{{ i }}_prev" class="swiper_btn btn_prev"><i class="arrows-thin35"></i></div>
								<div id="carousel_{{ i }}_next" class="swiper_btn btn_next"><i class="arrows-right106"></i></div>

								<script>
								jQuery(document).ready(function($) {
									var homepage_carousel__{{ i }} = new Swiper('#homepage_carousel__{{ i }}', {
										loop: true,
										speed: 500,
										slidesPerView: 6,
										spaceBetween: 30,
										prevButton: '#carousel_{{ i }}_prev',
										nextButton: '#carousel_{{ i }}_next',
										updateTranslate: true,
										breakpoints: {
											991: {
												slidesPerView: 4
											},
											767: {
												slidesPerView: 3,
												spaceBetween: 15
											},
											480: {
												slidesPerView: 1,
												spaceBetween: 0
											}
										}
									});
								});
								</script>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
             
			</div>
          		
		</div>
	{% endif %}
	<!--*********************************Featured Products  End***********************************************************-->
  
  
	
 
	    

	{% if settings.homepage_collections_toggle %}






	{% endif %}


	{% if settings.homepage_blog_toggle %}
		<div class="homepage_blog">


		<!--	<span class="homepage_counter homepage_counter__blog">{% increment homepageBlocks %}</span>-->

			<!--<div class="title_wrap">-->
			<!--	<h2>{{ blogs[settings.homepage_blog_select].title }}</h2>-->
			<h2 class="homepage_heading blog_h3">BLOG<!--{{ blogs[settings.homepage_blog_select].title }}--></h2>
		<!--	</div>-->

			

			<div class="row">
				{% for article in blogs[settings.homepage_blog_select].articles limit:2 %}
				<div class="col-sm-5 col-sm-offset-1">
					{% if article.image %}<div class="article_img">{{ article.image.src | img_url: 'original' | img_tag: article.title }}</div>{% endif %}

					<span class="blog_date">{{ article.author }}<!--, {{ article.published_at | date: '%B %d, %Y' }}--> </span>

					<h3 class="blog_title homepage_heading"><a href="{{ article.url }}">{{ article.title | truncate:25 }}</a></h3>

					<!--<a class="btn btn-outline homepage_btn" href="{{ article.url }}">{% assign X = 'blog.general.read_more' | t %}{% if X.size > 0 %}{{ X }}{% else %}Read more{% endif %}</a>-->
				</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

<div class="banner banner_margin_top">

  <div class="col-md-12">
	
	
	</div>
	</div>

	{% if settings.homepage_info_toggle %}
		<div class="homepage_info">
			

			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="item_1">
						
							<h3>{% assign X = 'custom_blocks.homepage_info.item_1_title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item1_title }}{% endif %}</h3>
						

						<p>{% assign X = 'custom_blocks.homepage_info.item_1_text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item1_text }}{% endif %}</p>
					</div>
               <div class="newsletter_frm newsletter_margin">
				   {% form "customer" %}
					<input value="customer" name="form_type" type="hidden">
					<input name="utf8" value="✓" type="hidden">
					<input id="contact_tags" name="contact[tags]" value="prospect,newsletter" type="hidden">
                    
                    
					<input id="contact_email" name="contact[email]" type="text" placeholder="Enter email"  />
					<input class="submit" value="Subscribe to get a first look at our new collection" type="submit" onclick="return subscribe()" id="style_submit">
                    
                    
					{% endform %}
					<div class="subscribe_error"></div>
			   </div>	
                  
                  <!-- Begin MailChimp Signup Form -->
					<!--<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{text-transform: uppercase; background:#141414; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	  					 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
						<form action="//davidandmartin.us15.list-manage.com/subscribe/post?u=5448f674e642c80f2e1afc4f2&amp;id=6b6939ab33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL" style=" color: white; font-family: 'Avenir'; font-weight: normal;">Subscribe to our mailing list</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="border-radius:1px;color: #fff;border: #fff;border-bottom: 1px solid #fff; text-transform: uppercase; background-color: #141414;
    ">
    							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    						<!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5448f674e642c80f2e1afc4f2_6b6939ab33" tabindex="-1" value=""></div>
    						<div class="clear"><input id="mc-embedded-subscribe" class="button" value="Subscribe" name="subscribe" style="text-transform: uppercase;color: #fff;border-radius: 1px;background-color: #141414;border:1px solid #fff;" type="submit" onclick="_gaq.push(['_trackEvent', 'subscribe', 'click']);"></div>
    						</div>
						</form>
					</div>

<!--End mc_embed_signup-->
                  
			   <div class="social_icons">
						<ul>
							{% if settings.social_twitter != blank %}<li><a href="{{ settings.social_twitter }}"  target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
							{% if settings.social_facebook != blank %}<li><a href="{{ settings.social_facebook }}"  target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
							{% if settings.social_youtube != blank %}<li><a href="{{ settings.social_youtube }}"  target="_blank"><i class="fa fa-youtube"></i></a></li>{% endif %}
							{% if settings.social_instagram != blank %}<li><a href="{{ settings.social_instagram }}"  target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}
							{% if settings.social_pinterest != blank %}<li><a href="{{ settings.social_pinterest }}"  target="_blank"><i class="fa fa-pinterest"></i></a></li>{% endif %}
							{% if settings.social_googleplus != blank %}<li><a href="{{ settings.social_googleplus }}"  target="_blank"><i class="fa fa-google-plus"></i></a></li>{% endif %}
							{% if settings.social_tumblr != blank %}<li><a href="{{ settings.social_tumblr }}"  target="_blank"><i class="fa fa-tumblr"></i></a></li>{% endif %}
						</ul>
					</div>
		       
			</div>

				<div class="col-sm-12 col-lg-12 col-sm-offset-1">
					<div class="item_2">
						<span class="homepage_counter homepage_counter__info">{% increment homepageBlocks %}</span>

					<!--	<div class="title_wrap">-->
							<h3>{% assign X = 'custom_blocks.homepage_info.item_2_title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item2_title }}{% endif %}</h3>
						<!--</div>-->

						<!--<p>{% assign X = 'custom_blocks.homepage_info.item_2_text' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.homepage_info_item2_text }}{% endif %}</p>-->

						<ul>
							{% for i in (1..3) %}
								<li>
									{% capture icon %}homepage_info_item2_icon{{ i }}{% endcapture %}
									{% if settings[icon] != 'none' %}<i class="fa {{ settings[icon] }}"></i>{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	

	
	<footer id="homepage_footer" class="homepage_footer {% if settings.homepage_info_toggle %}homepage_footer__layered{% endif %}">
		<div class="row">
         			<div class="col-md-12" id="homepage_footer__left">
				<div class="footer_left">
                
 <!--<span class="homepage_counter homepage_counter__footer">{% increment homepageBlocks %}</span>-->

					<!--<div class="title_wrap">
						<h2>{% assign X = 'custom_blocks.footer_contacts.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_title }}{% endif %}</h2>
					</div>

					<div class="footer_contacts">
						<p class="footer_contacts__address">{% assign X = 'custom_blocks.footer_contacts.address' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_address }}{% endif %}</p>

						<div class="footer_contacts__phone">
							<span>Tel:</span>

							<ul>
								<li>{% assign X = 'custom_blocks.footer_contacts.phone1' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_phone1 }}{% endif %}</li>
								<li>{% assign X = 'custom_blocks.footer_contacts.phone2' | t %}{% if X.size > 0 %}{{ X }}{% else %}{{ settings.contacts_phone2 }}{% endif %}</li>
							</ul>
						</div>

						<div class="clearfix"></div>
					</div>

					<div class="footer_social">
						<ul>
							{% if settings.social_twitter != blank %}<li><a href="{{ settings.social_twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
							{% if settings.social_facebook != blank %}<li><a href="{{ settings.social_facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
							{% if settings.social_youtube != blank %}<li><a href="{{ settings.social_youtube }}"><i class="fa fa-youtube"></i></a></li>{% endif %}
							{% if settings.social_instagram != blank %}<li><a href="{{ settings.social_instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
							{% if settings.social_pinterest != blank %}<li><a href="{{ settings.social_pinterest }}"><i class="fa fa-pinterest"></i></a></li>{% endif %}
							{% if settings.social_googleplus != blank %}<li><a href="{{ settings.social_googleplus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
							{% if settings.social_tumblr != blank %}<li><a href="{{ settings.social_tumblr }}"><i class="fa fa-tumblr"></i></a></li>{% endif %}
						</ul>
					</div>-->

					<div class="copyright">
						<a class="logo_footer" href="/">{{ shop.name }}</a>
						{% assign copyright_year = "now" | date: "%Y" %}{% assign X = 'layout.footer.copyright' | t: year: copyright_year, shop_name: shop.name %}{% if X.size > 0 %}{{ X }}{% else %}© {{ copyright_year }}. All rights reserved.{% endif %}
						{% if settings.footer_powered %} {{ powered_by_link }}{% endif %}
					</div>
				</div>
			</div>

		<!--	<div class="col-md-12" id="homepage_footer__right">
				<div class="footer_right">
				<div class="map_wrapper">
						  GOOGLE MAP 
						{% include 'widget-googlemap' %}
					</div>
				</div>
			</div>-->
		</div>
	</footer>
</div>

<!-------------------------------------------------------------------------------->
<div class="fancybox-overlay fancybox-overlay-fixed subscribe_popup_style" id="subscribe_popup_div">
<div id="newsletter_popup__wrap" class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened newsletter_popup_wrap_style" tabindex="-1"><div class="fancybox-skin fancy_skin_style"><div class="fancybox-outer"><div class="fancybox-inner fancybox_inner_style"><div id="newsletter_popup" class="news_pop_style">
	<h4>Thanks</h4>
	

	
			<div class="newsletter_form newsletter_form__shopify">
				
				<p class="newsletter_success">Subscribed successfully!</p>
			</div>
		
</div></div></div><a title="Close" id="subscribe_close" class="fancybox-item fancybox-close" href="javascript:;"></a></div></div></div>

<!-------------------------------------------------------------------------------->




<style>
	#subscribe_popup_div{
		display:none;
	}
.color_scheme .collections_listing__home {
    margin: 60px 0 0 0;
}
.scheme_1 .homepage_welcome__img_wrapper {
    width: 100%;
}
.color_scheme .homepage_welcome__content {
    margin: 0px 0 0 0;
}

.color_scheme .homepage_footer .footer_left {
   margin: 110px 0 0 0;
   padding: 0 0 10px 0;
}
.scheme_1 .homepage_welcome__content {
padding:0px;

}

.color_scheme .collections_listing .item_2 {
    margin: 60px 0 0 0;
}
.color_scheme .collections_listing .item_3 {
    margin: 60px 0 0 0;
}
.color_scheme .collections_listing .item_1 p {
    display: block;
}
.color_scheme .collections_listing .item_2 p {
    display: block;
}
.color_scheme .collections_listing .item_3 p {
    display: block;
}
.color_scheme .collections_listing .item_1  h3,.color_scheme .collections_listing .item_2  h3,.color_scheme .collections_listing .item_3  h3{
   padding: 10px 0;
   color:#000;
}
.color_scheme .collections_listing .item_1  btn,.color_scheme .collections_listing .item_2  btn,.color_scheme .collections_listing .item_3  btn{
    color:#000!important;
}

.color_scheme .collections_listing .item_2 .btn {
   
    color: #000 !important;
}
.color_scheme .collections_listing .item_2 .btn:before {
   
   border-color:#000!important;
}
#contact_form>#contact_email {
     color: #fff;
}
/*-------------------------------------Social Icons before footer-------------------*/
.social_icons{
	margin-left: 10px;
}
.social_icons li {
    display: inline-block;
    padding: 20px 20px 0 0;
}

.social_icons a:hover {
    color: #fff;
}
.social_icons a {
    font-size: 60px;
    color: gray;
    
}
.fa {
    display: inline-block;
   
}
a.btn.btn-outline.homepage_btn {
    text-shadow: none;
}
.color_scheme .homepage_info {
     padding: 40px 0 40px 0;
     margin-top: 40px;
}
.blog_h3{
	text-align: center;
   padding-bottom: 40px;
  margin: 0px 0;
}
.color_scheme .homepage_blog {
    margin: 0px 0 0 0!Important;
    top:-60px;
}
.home_banner{
	background:url('{{"16-11.jpg" | asset_url}}');
	height:365px;
	background-size: cover;
}
.color_scheme .homepage_products {
    margin: 60px 0 0 0;
}

h3.homepage_heading,
.scheme_1 h3,
.color_scheme .homepage_products__title h2,
.color_scheme .homepage_heading
 {
	font-family: 'Avenir';
}
.color_scheme .homepage_heading {
    font-size: 30px;
}
.item_1 .item_img,.item_3 .item_img{
text-align:center!important;
}
  .submit{
    width:auto;
  }
  .newsletter_frm{
    width:100%;
  }
  .color_scheme #swiper .slider_caption h3 {
     text-transform: capitalize;
}

.color_scheme .homepage_info .item_2 ul {
    padding: 0px 0 0 0;
}
.home_banner{
	margin-top:40px;
}
.color_scheme .homepage_info {
    padding: 0px 0 40px 0;
}
  
  
.thumb_margin_top
{
margin-top:50px;
}


.collection_style_btn
{
text-align:left; 
/*float:left; */
width:100%; 
margin-bottom:40px;

}

.banner_margin_top
{
margin-top:50px;
}

.newsletter_margin
{
margin-left:auto; margin-right:auto;
}

.subscribe_popup_style
{
width: auto; 
height: auto;
}


.newsletter_popup_wrap_style
{

  width: 357px; 
  height: auto; 
  position: absolute; 
  top: 53px; left: 464px; 
  opacity: 1; 
  overflow: visible;

}


.fancy_skin_style
{
padding: 15px; 
width: auto; 
height: auto;
}


.fancybox_inner_style
{

overflow: auto; 
width: 297px; 
height: auto;
}


.news_pop_style
{
display: block; 
height: 80px;
} 
  
  
  .item_image_style
{
max-height: 278px;
}
  
  
  .header_title_display
  {
    display:none;
  }
  
</style>
<script>

function subscribe() {  
var sEmail=jQuery('#contact_email').val();/* default value is Enter Email */
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
if(sEmail==''){
	jQuery(".subscribe_error").html('Email is empty').css('color','red');

return false;
}
else if(filter.test(sEmail)) {
	jQuery(".subscribe_error").html('');
	
return true;
}
else {
	jQuery(".subscribe_error").html('Email is invalid').css('color','red');

return false;
}
}

$(document).ready(function () {
	setTimeout(function(){
  if (window.location.href.indexOf("?customer_posted=true#contact_form") > -1) {
	 // alert("Subscription sent successfully");
	 $('#subscribe_popup_div').css('display','block');
  }
}, 5000);


//if (window.location.href.indexOf("?customer_posted=true#contact_form") > -1) {
 //alert("Subscription sent successfully");
  // $('#myModal').modal('show');
  //var txt="<div>Subscribe sent successfully</div>";
  
//}
});

$('#subscribe_close').click(function(){
	 $('#subscribe_popup_div').css('display','none');
});

</script>
