{% layout settings.customer_layout %}

<div id="account_reset_form" class="account_section">
	<h4>{% assign X = 'customer_pages.reset_password_form.form_title' | t %}{% if X.size > 0 %}{{ X }}{% else %}Reset account password{% endif %}</h4>

	<p class="note">{% assign X = 'customer_pages.reset_password_form.form_tagline' | t: e-mail = email %}{% if X.size > 0 %}{{ X }}{% else %}Enter a new password for {{ email }}{% endif %}</p>

	{% form 'reset_customer_password' %}
		<div class="clearfix form-horizontal">
			{% if form.posted_successfully? %}
				<p class="alert alert-success">{% assign X = 'customer_pages.reset_password_form.form_success' | t %}{% if X.size > 0 %}{{ X }}{% else %}Success!{% endif %}</p>
			{% else %}
				{{ form.errors | default_errors | replace: 'errors', 'alert alert-danger' }}
			{% endif %}

			<div class="form-group">
				<label for="email" class="large col-sm-4">{% assign X = 'customer_pages.reset_password_form.new_password' | t %}{% if X.size > 0 %}{{ X }}{% else %}New password{% endif %}</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" value="" name="customer[password]" id="customer_password" size="16" />
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="large col-sm-4">{% assign X = 'customer_pages.reset_password_form.new_password_confirmation' | t %}{% if X.size > 0 %}{{ X }}{% else %}New password confirmation{% endif %}</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="16" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<button class="btn" type="submit">{% assign X = 'customer_pages.reset_password_form.submit_button' | t %}{% if X.size > 0 %}{{ X }}{% else %}Reset Password{% endif %}</button>
				</div>
			</div>
		</div>
	{% endform %}
</div>

<script>
jQuery(function($){
	$(document).ready(function() {
		$('#account_reset_form form').formValidation();
	});
});
</script>